/* Universal Styles */

html {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 16px;
  background-color: white;
}

body {
  line-height: 1.2;
}

.container {
  max-width: 960px;
  height: auto;
  margin: 0 auto;
}

h1 {
  font-weight: 900;
  font-size: 1.5rem;
  color: #094183;
}

header {
  height: 4rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  color: ##EFEFEC;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 2rem;
  margin-left: 1.5rem;
}

nav ul {
  margin-right: 1.5rem;
}

nav li {
  display: inline;
  padding: 0 1rem;
}

nav a {
  text-decoration: none;
  color: #094183;
}

span.logo {
  color: #094183;
  font-weight: 700;
}
.icon-menu {
  display: none;
}

header .flex {
  justify-content: flex-end;
}

.main-banner {
  display: inline-flex;
  background-color: #EFEFEC;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-banner .image {
  width: 60%;
  height: auto;
  padding: 1.5rem 2rem;
}

.main-banner .text {
  display: inline-block;
  padding-right: 3rem;
  color: #094183;
}

.main-banner h1 {
  padding-bottom: 1rem;
  color: #094183;
}

.main-banner h2 {
  font-weight: 500;
  padding-bottom: 1rem;
}

.main-banner .button {
  background-color: #094183;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
  border-radius: 5px;
}

.supporting.container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: flex-start;
}

.promo {
  margin: 2rem 1.5rem;
  display: inline-block;
  min-width: 60%;
}

.promo .image {
  width: 100%;
  margin: 0;
}

.promo h1 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  line-height: 1.8;
  color: #094183;
}

.promo p {
  line-height: 2;
  color: #094183;
}

.promo p.quote {
  font-weight: bold;
  font-style: italic;
  padding-bottom: 2rem;
}

.key-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 40%;
  height: auto;
  padding: 2rem 0 1.5rem 0;
  margin-top: -0.5rem;
}

.key-info img {
  width: 35%;
  height: auto;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.info1, .info2, .info3 {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
}

.info3 {
  background-color: #EFEFEC;
}

.key-info h2 {
  font-weight: bold;
  color: #094183;
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.key-info p {
  font-weight: 300;
  color: #094183;
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}

.key-info a {
  text-decoration: none;
  font-weight: bold;
  color: #094183;
}
.key-info a:hover {
  color: lightblue;
}

.learning.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EFEFEC;
}

.learning.container h1 {
  line-height: 1.8;
  padding: 2rem 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  grid-gap: 1rem;
}
.grid-item {
  max-width: 30%;
}

.grid-item img {
}
