/* Universal Styles */

html {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 16px;
  background-color: white;
}

body {
  line-height: 1.2;
}

.container {
  max-width: 960px;
  margin: auto;
}
h1 {
  font-weight: 900;
  font-size: 1.5rem;
  color: #3D3D3D;
}
header {
  height: 4rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  color: ##EFEFEC;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 2rem;
  margin-left: 1.5rem;
}

nav ul {
  margin-right: 1.5rem;
}

nav li {
  display: inline;
  padding: 0 1rem;
}

nav a {
  text-decoration: none;
  color: #094183;
}

span.logo {
  color: #094183;
  font-weight: 100;
}
.icon-menu {
  display: none;
}

header .flex {
  justify-content: flex-end;
}

.main-banner {
  display: inline-flex;
  background-color: #EFEFEC;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-banner .image {
  width: 60%;
  height: auto;
  padding: 1.5rem 2rem;
}

.main-banner .text {
  display: inline-block;
  padding-right: 3rem;
  color: #094183;
}

.main-banner h1 {
  padding-bottom: 1rem;
  color: #094183;
}

.main-banner h2 {
  font-weight: 700;
  padding-bottom: 1rem;
}

.main-banner .button {
  background-color: #094183;
  color: white;
  font-weight: 500;
  padding: 0.5rem;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.supporting {
  display: flex;
}

.supporting.container {
  margin: 0 auto;
  padding: 0 0 2rem 0;
  justify-content: center;
}

.promo {
  overflow: hidden;
  width: 60%;
  height: auto;
  padding: 2rem;
}

.promo img {
  height: auto;
  width: 100%;
}

.promo h1 {
  padding-top: 1rem;
  line-height: 1.8;
  color: #094183;
}

.promo p {
  line-height: 2;
  color: #094183;
}

.promo p.quote {
  font-weight: 700;
  padding-below: 2rem;
}

.key-info {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  align-items: center;
  padding-top: 2rem;
}

.key-info img {
  width: 35%;
}
.orientation, .campus, .lecture {
  display: inline-flex;
  padding: 1rem;
}

.orientation, .campus, .lecture h2 {
  display: inline-flex;
  padding: 0.5rem;
  color: #094183;
}

.orientation {
  padding-top: 0;
}
.lecture {
  background-color: #EFEFEC;
  width: 100%;
}
